<h1 class="notFound">{{currentHeader}}</h1>
     <p class="not-found">We're sorry, but no results were found for {{searchTerm}}.</p>
     <br>
     <a class = "backToForm" href="/">Make another search</a>