<main class="container">
  <h1>Fibonacci and Prime Checker</h1>
    <div class="row">
      <div class="col-sm-12">
        <form id="static-form" name="static-form" >
            <label for="number">Please enter a number:</label>
            <input type="number"  id="number" name="number" placeholder="Type here..." >
          <button type="submit" >Submit</button>
          <br>
          <br>
          <div class="form-group hidden" id="error-container">
            <div class="alert alert-danger text-goes-here">
            </div>
          </div>
          <ul id="results" ></ul>
        </form>
      </div>
    </div>
</main>